@charset "UTF-8";
/* CSS Document */

html,
body {
  margin: 0px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

.input-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
}

button {
  margin-top: 4px;
  margin-right: 4px;
  width: 40%;
  padding: 10px 20px;
  background-color: #5f9341;
  color: white;
  border: 1px solid #5f9341;
  font-weight: bold;
  font-size: 16px;
}

#delete-btn {
  background-color: white;
  color: #5f9341;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
}

.buttons {
  flex-direction: row;
}
